<a href="https://colab.research.google.com/github/Mhsm2012/iris_data_visualization/blob/main/iris_data_visulaization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**importing dependencies**

In [ ]:
import os
import numpy as np
import pandas as pd

create file path and import iris data

In [ ]:
path = '/content/iris_data.csv'
data = pd.read_csv(path)
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
# how to know number of rows in data 
data.shape[0]

150

In [ ]:
#how to know number of column in data 
data.shape[1]

5

In [ ]:
# to know both n of row and n of columns
data.shape

(150, 5)

In [ ]:
# know column names with tolist function
data.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')>

In [ ]:
# data types of data
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [ ]:
# apply lambda function to remove irirs from the beginning of species 
data['species'].apply(lambda x : x[:])

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [ ]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# count the number of each species find in data
data.species.value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [ ]:
# to get some statistics from data use function describe
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
# know the range between values 
data_df = data.describe()
data_df.loc['range']=data_df.loc['max']-data_df.loc['min']

In [ ]:
data_df

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
range      3.600000     2.400000      5.900000     2.400000

In [22]:
# specify some rows which we need to act with
out_fields=['min','max','mean','50%']
data_df=data_df.loc[out_fields]

In [23]:
data_df

      sepal_length  sepal_width  petal_length  petal_width
min       4.300000        2.000      1.000000     0.100000
max       7.900000        4.400      6.900000     2.500000
mean      5.843333        3.054      3.758667     1.198667
50%       5.800000        3.000      4.350000     1.300000

In [28]:
# rename field of data
data_df.rename({'50%':'median'},inplace=True)
data_df

        sepal_length  sepal_width  petal_length  petal_width
min         4.300000        2.000      1.000000     0.100000
max         7.900000        4.400      6.900000     2.500000
mean        5.843333        3.054      3.758667     1.198667
median      5.800000        3.000      4.350000     1.300000

In [29]:
# calcualte mean of species 
data.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [30]:
# calculate median 
data.groupby('species').median()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.0          3.4          1.50          0.2
versicolor           5.9          2.8          4.35          1.3
virginica            6.5          3.0          5.55          2.0

In [35]:
# calcuate multiple 
data.groupby('species').agg(['mean','median'])

           sepal_length        sepal_width  ... petal_length petal_width
                   mean median        mean  ...       median        mean median
species                                     ...
setosa            5.006    5.0       3.418  ...         1.50       0.244    0.2
versicolor        5.936    5.9       2.770  ...         4.35       1.326    1.3
virginica         6.588    6.5       2.974  ...         5.55       2.026    2.0

[3 rows x 8 columns]

In [ ]:
# using numpy to generate product

In [36]:
# calcuate multiple 
data.groupby('species').agg([np.mean,np.product])

           sepal_length                ... petal_width
                   mean       product  ...        mean       product
species                                ...
setosa            5.006  8.350948e+34  ...       0.244  2.885558e-33
versicolor        5.936  3.926361e+38  ...       1.326  7.642546e+05
virginica         6.588  6.884782e+40  ...       2.026  1.347986e+15

[3 rows x 8 columns]